<p>Dear {FIRSTNAME} {LASTNAME},</p>
<p>Your application for the delegate position in the following committees and countries has been received and you will be
  informed about your application within the next week. Below are your chosen committees.</p>
<table>
  <thead>
    <tr>
      <th>Committee 1</th>
      <th>Committee 2</th>
      <th>Committee 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{COM1}</td>
      <td>{COM2}</td>
      <td>{COM3}</td>
    </tr>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th>Country 1</th>
      <th>Country 2</th>
      <th>Country 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{CON1}</td>
      <td>{CON2}</td>
      <td>{CON3}</td>
    </tr>
  </tbody>
</table>
<p>{DELEGATIONTEXT}</p>
<p>Your position will be allocated after payment; if your application will be denied you will refunded the appropriate amount sent.</p>

<p><b>Payment details:</b></p>
  <p>Below you will find the details to which the fee of EUR 41 or CZK 1000 should be paid to within 2 weeks of receiving this email with your name and &#39;PLISMUN24&#39; included in the payment note. Your presence depends on the payment:</p>
  <p>For EUR payments:
  Account name: Park Lane International School, a.s.
  Bank name: UniCredit Bank Czech Republic and Slovakia, a.s.
  EUR Account number: 2109992559/2700
  IBAN: CZ50 2700 0000 0021 0999 2559
  SWIFT: BACXCZPP</p>
  <p>For CZK payments:
  Account name: Park Lane International School, a.s.
  Bank name: UniCredit Bank Czech Republic and Slovakia, a.s.
  CZK Account number: 2107914717/2700</p>
  <p>The variable code for both is 0219
  Please ensure the payments are net of bank charges</p>
  <p>Using Internet banking, you must select either international wire transfer (non-domestic; you are paying with a foreign currency to a CZK account) or domestic payment (paying CZK to CZK account).</p>
<p>Sincerely,
  The PLISMUN &#39;24 Team</p>
<p>--
  This is a system message</p>
